@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #020617;
  color: white;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.glass {
  backdrop-filter: blur(12px);
  background: rgba(15, 23, 42, 0.5);
  border: 1px solid rgba(255,255,255,0.1);
}